## 엑셀 열기

In [26]:
from openpyxl import load_workbook
wb = load_workbook("addr.xlsx")
wb.sheetnames

sheet = wb["주소록"]
print(sheet["A1"].value)
print(sheet["A2"].value)

이름
홍길동

In [27]:
# for row, cell in sheet.iter_rows():
#     print(f"cell 값: {cell}")
#     print(f"cell.value값: {cell.value}")
for row in sheet.iter_rows():
    for cell in row:
        print(cell.value, end=" ")
    print()

이름 전화번호
홍길동 111-1111
홍길순 222-2222

In [28]:
import pandas as pd
df = pd.read_excel("addr.xlsx")
df

    이름      전화번호
0  홍길동  111-1111
1  홍길순  222-2222

In [32]:
df['이름']
df[['이름','전화번호']]

0    홍길동
1    홍길순
Name: 이름, dtype: object